<h1>
<%= @group.name %>
</h1>

<%# copypastaa, orginal task/index.html.erb %>
<% @tasks.each do |t| %>
	<% @t=t %>
	<%= render 'layouts/task' %>
<% end %>
<% if @tasks.empty? %>
<p>No tasks in this group.</p>
<% end %>

<ul class="list-inline">
        <li>
        	<%= link_to '<span class="glyphicon glyphicon-arrow-left"></span> back'.html_safe, tasks_path, class:"btn btn-default btn-xs" %>
        </li>
        <li>
          <%= link_to '<span class="glyphicon glyphicon-pencil"></span> edit'.html_safe , edit_group_path(@group), class:"btn btn-xs btn-default" %>
        </li>
        <li>
          <%= link_to '<span class="glyphicon glyphicon-trash"></span> remove'.html_safe, @group, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-xs btn-danger" %>
        </li>
</ul>