<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <div class="input-group input-group-sm">
        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
        <%= f.text_field :username, placeholder:"username", class:"form-control" %>
      </div>
      <div class="input-group input-group-sm">
        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
        <%= f.password_field :password, placeholder:"password", class:"form-control" %>
      </div>
      <div class="input-group input-group-sm">
        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
        <%= f.password_field :password_confirmation, placeholder:"password confirmation", class:"form-control" %>
      </div>
      <%= submit_tag "Sign up!", class:'btn btn-ok btn-sm' %>
<% end %>
